/.idea/
/.gradle/
/release/
/forge12/build/
/forge16/build/
/forge19/build/
/forge20/build/
/fabric20/run/
/fabric20/build/
/fabric20/.gradle/
/fabric21/build/
/fabric21/.gradle/
/fabric21/run/
/neoforge21/build/
/build/