/build/
/release/
/forge/build/
/.idea/
/.gradle/
/forge20/build/
/forge19/build/
/forge16/build/
/neoforge21/.gradle/
/neoforge21/build/
/neoforge21/runs/
/fabric20/.gradle/
/fabric20/build/
/fabric20/run/
/fabric21/.gradle/
/fabric21/build/
/fabric21/run/
